* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  background-color: #f6f3ec;
}

.headers {
  text-align: center;
}
.headers h1, .headers h2 {
  margin: 0.5em 0;
}

.header-p {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}
.header-p a {
  text-decoration: none;
  color: #000000;
  font-size: larger;
}
.header-p a:hover {
  color: #aee94e;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.books {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.books h2 {
  text-align: center;
}
.books form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.books form label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}
.books form input,
.books form select {
  display: block;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.books form input[type=submit] {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.books form input[type=submit]:hover {
  background-color: #c3ef7b;
  color: #000000;
  font-weight: 600;
}

.offering {
  text-align: center;
}
.offering .offering-detail--title {
  margin-bottom: 30px;
}
.offering .offering-detail--title h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}
.offering .offering-detail--title p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}
.offering .offering-cards--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.offering .offering-cards--container .offering-detail--card {
  margin: 0 15px 15px 15px;
  max-width: 100%;
  width: calc(100% - 30px);
  text-align: center;
}
.offering .offering-cards--container .offering-detail--card img {
  max-width: 100%;
}
.offering .offering-cards--container .offering-detail--card h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 700;
}
.offering .offering-cards--container .offering-detail--card .offering--card-body {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .offering .offering-cards--container {
    justify-content: flex-start;
  }
  .offering .offering-cards--container .offering-detail--card {
    max-width: calc(33.33% - 30px);
    width: calc(33.33% - 30px);
    margin: 0 15px 30px 15px;
  }
  .offering .offering-cards--container .offering-detail--card:nth-child(3n) {
    margin-right: 0;
  }
}

.us {
  background-color: #c3ef7b;
  padding: 2rem 5vw;
  text-align: center;
}
.us .us-title {
  font-weight: bold;
  margin-bottom: 1rem;
}
.us .us-text {
  margin: 2rem 0;
  text-align: left;
}

.team h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.team .team-members {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin: 2rem 0px;
}
@media (min-width: 768px) {
  .team .team-members {
    overflow-x: hidden;
  }
}
.team .team-members .team-member {
  margin: 0 1rem;
  height: 15%;
}
@media (min-width: 768px) {
  .team .team-members .team-member {
    flex-basis: calc(50% - 1rem);
  }
}
@media (min-width: 1024px) {
  .team .team-members .team-member {
    flex-basis: calc(33.333333% - 1rem);
  }
}
.team .team-members .team-member img {
  border-radius: 50%;
  max-width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.team .team-members .team-member h4 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.team .team-members .team-member p {
  font-size: 0.75rem;
  color: #777;
  margin-bottom: 0.5rem;
  text-align: center;
}

.community .community-title {
  text-align: center;
  padding-bottom: 1em;
}
.community .carousel-container {
  width: 100%;
  overflow: auto;
  position: relative;
  display: flex;
}
.community .community-item {
  flex: 0 0 18.5em;
  margin: 0.5em;
  background-color: #c3ef7b;
  color: #000000;
  padding: 30px;
  box-shadow: 0px 0px 12px 0px #f6f3ec;
}
.community .community-item:last-child {
  margin-right: 0;
}
.community .community-item img {
  width: 100%;
  height: auto;
  max-width: 15em;
  display: block;
  margin: 0 auto;
}
.community .community-description {
  margin-top: 10px;
}
.community .community-description h4, .community .community-description p {
  margin: 0;
  padding: 0;
  text-align: center;
}

footer {
  width: 100%;
  height: auto;
  background-color: #c3ef7b;
  color: #f6f3ec;
  padding: 1.5em;
  text-align: center;
}
footer p {
  padding-top: 0.3em;
}
footer .social-media {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding-top: 0.5em;
}
footer .social-media img {
  width: 36px;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1em;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
  list-style: none;
}
nav ul li {
  font-size: 1.3em;
}
nav ul li a {
  text-decoration: none;
  color: #f6f3ec;
}
nav ul li a:hover {
  text-decoration: underline;
}

.titulo-pruebas {
  text-align: center;
  margin-bottom: 0.5rem;
}

.pruebas-rango-uno {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pruebas-rango-uno section {
  width: 90%;
  background-color: #c3ef7b;
  color: #000000;
  margin: 0.5em 0;
  border-radius: 1em;
  text-align: center;
  padding: 1em 0;
}
.pruebas-rango-uno section ol {
  color: #000000;
  margin: 1em 0;
  padding: 0 0.5em 0 1.4em;
  max-width: 100%;
}
.pruebas-rango-uno section ol li {
  margin: 0.5em 0;
  font-size: 1em;
  text-align: start;
}
.pruebas-rango-uno section .aceptar-reto {
  cursor: pointer;
  background-color: #000000;
  color: #c3ef7b;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: larger;
  border: 1px solid #000000;
}
.pruebas-rango-uno section .aceptar-reto:hover {
  color: #f6f3ec;
  background-color: #f6f3ec;
}
.pruebas-rango-uno section #dialog {
  margin: 1em auto;
  border-radius: 1em;
}
.pruebas-rango-uno section #dialog .modal-reto {
  width: 80vw;
  height: 85vh;
  background-color: #f6f3ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 2em 0;
}
@media (min-width: 1024px) {
  .pruebas-rango-uno {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .pruebas-rango-uno section {
    padding: 1em;
    width: 32vw;
    min-height: 78vh;
  }
  .pruebas-rango-uno section #dialog {
    margin: 12vh auto;
  }
  .pruebas-rango-uno section #dialog .modal-reto {
    width: 30vw;
    height: 75vh;
  }
  .pruebas-rango-uno section #dialog::backdrop {
    background-color: #000000;
    opacity: 0.6;
  }
}

.pruebas-rango-dos {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pruebas-rango-dos section {
  width: 90%;
  background-color: #c3ef7b;
  color: #000000;
  margin: 0.5em 0;
  border-radius: 1em;
  text-align: center;
  padding: 1em 0;
}
.pruebas-rango-dos section ol {
  color: #000000;
  margin: 1em 0;
  padding: 0 0.5em 0 1.4em;
  max-width: 100%;
}
.pruebas-rango-dos section ol li {
  margin: 0.5em 0;
  font-size: 1em;
  text-align: start;
}
.pruebas-rango-dos section .aceptar-reto {
  cursor: pointer;
  background-color: #f6f3ec;
  color: white;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: larger;
  border: 1px solid #f6f3ec;
}
.pruebas-rango-dos section .aceptar-reto:hover {
  color: #f6f3ec;
  background-color: #f6f3ec;
}
@media (min-width: 1024px) {
  .pruebas-rango-dos {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .pruebas-rango-dos section {
    padding: 1em;
    width: 32vw;
    min-height: 78vh;
  }
}

.pruebas-rango-tres {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pruebas-rango-tres section {
  width: 90%;
  background-color: #c3ef7b;
  color: #000000;
  margin: 0.5em 0;
  border-radius: 1em;
  text-align: center;
  padding: 1em 0;
}
.pruebas-rango-tres section ol {
  color: #000000;
  margin: 1em 0;
  padding: 0 0.5em 0 1.4em;
  max-width: 100%;
}
.pruebas-rango-tres section ol li {
  margin: 0.5em 0;
  font-size: 1em;
  text-align: start;
}
.pruebas-rango-tres section .aceptar-reto {
  cursor: pointer;
  background-color: #f6f3ec;
  color: white;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: larger;
  border: 1px solid #f6f3ec;
}
.pruebas-rango-tres section .aceptar-reto:hover {
  color: #f6f3ec;
  background-color: #f6f3ec;
}
@media (min-width: 1024px) {
  .pruebas-rango-tres {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .pruebas-rango-tres section {
    padding: 1em;
    width: 32vw;
    min-height: 85vh;
  }
  .pruebas-rango-tres .prueba-nivel-dos {
    position: relative;
  }
  .pruebas-rango-tres .prueba-nivel-dos .aceptar-reto {
    position: absolute;
    bottom: 3vh;
    right: 35%;
  }
}/*# sourceMappingURL=styles.css.map */