$primary-color:#f6f3ec;
$secundary-color:#c3ef7b;
$primary-text-color:#000000;
$color: rgb(246 243 236);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  color: $primary-text-color;
  background-color: $primary-color;
}

.headers {
  text-align: center;

  h1, h2 {
    margin: 0.5em 0;
  }
  
}

.header-p {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  
  a{
    text-decoration: none;
    color: $primary-text-color;
    font-size: larger;
  }
  a:hover{
    color: darken($secundary-color, 10%);
    text-decoration: underline 2px;
  }
}

.books {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
    text-align: center;
    }
    
    form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        display: block;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
      }
      
      input,
      select {
        display: block;
        margin-bottom: 20px;
        padding: 5px;
        width: 100%;
        max-width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }
      
      input[type="submit"] {
        background-color: $primary-text-color;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
      
        &:hover {
          background-color: $secundary-color;
          color: $primary-text-color;
          font-weight: 600;
        }
      }
    }
}

.offering {
    text-align: center;
    
    .offering-detail--title {
      margin-bottom: 30px;
      
      h3 {
        margin: 0;
        font-size: 28px;
        font-weight: 700;
      }
      
      p {
        margin: 0;
        font-size: 20px;
        font-weight: 400;
      }
    }
    
    .offering-cards--container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      .offering-detail--card {
        margin: 0 15px 15px 15px;
        max-width: 100%;
        width: calc(100% - 30px);
        text-align: center;
                
        img {
          max-width: 100%;
        }
        
        h4 {
          margin-top: 15px;
          margin-bottom: 5px;
          font-size: 24px;
          font-weight: 700;
        }
        
        .offering--card-body {
          margin: 0;
          font-size: 18px;
          font-weight: 400;
        }
      }
      
      // Media query for screens wider than 768px
      @media (min-width: 768px) {
        justify-content: flex-start;
        
        .offering-detail--card {
          max-width: calc(33.33% - 30px);
          width: calc(33.33% - 30px);
          margin: 0 15px 30px 15px;
          
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }
  
  .us {
    background-color: $secundary-color;
    padding: 2rem 5vw;
    text-align: center;
    
    .us-title {
      font-weight: bold;
      margin-bottom: 1rem;
    }
    
    .us-text {
      margin: 2rem 0;
      text-align: left;
    }
  }
  
  .team {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-align: center;
    }
  
    .team-members {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      margin: 2rem 0px;

      @media (min-width: 768px) {
        overflow-x: hidden;
      }
  
      .team-member {
        margin: 0 1rem;
        height: 15%;
  
        @media (min-width: 768px) {
          flex-basis: calc(50% - 1rem);
        }
  
        @media (min-width: 1024px) {
          flex-basis: calc(33.333333% - 1rem);
        }
  
        img {
          border-radius: 50%;
          max-width: 80px;
          height: auto;
          display: block;
          margin: 0 auto;
        }
  
        h4 {
          font-size: 1rem;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          text-align: center;
        }
  
        p {
          font-size: 0.75rem;
          color: #777;
          margin-bottom: 0.5rem;
          text-align: center;
        }
      }
    }
  }
  
  .community {
    .community-title{
      text-align: center;
      padding-bottom: 1em;
    }
    // Set the width of the carousel container
    .carousel-container {
      width: 100%;
      overflow: auto;
      position: relative;
      display: flex;
    }
  
    // Set the width of each community item and position them beside each other
    .community-item {
      flex: 0 0 18.5em;
      margin: 0.5em;
      background-color: $secundary-color;
      color: $primary-text-color;
      padding: 30px;
      box-shadow: 0px 0px 12px 0px $primary-color;
      &:last-child {
        margin-right: 0;
      }
    }
  
    // Set the height of each community item image and description
    .community-item img {
      width: 100%;
      height: auto;
      max-width: 15em;
      display: block;
      margin: 0 auto;
    }
  
    .community-description {
      margin-top: 10px;
      h4, p {
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }
  }

  footer{
    width: 100%;
    height: auto;
    background-color: $secundary-color;
    color: $primary-color;
    padding: 1.5em;
    text-align: center;
    p{
      padding-top: .3em;
    }
    .social-media{
      display: flex;
      justify-content: center; 
      gap: 1em;
      padding-top: .5em;
    }
    .social-media img {
      width: 36px;
      height: auto;
    }

  }
  nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1em;
    ul{
      display: flex;
      flex-direction: row;
      gap: 2em;
      list-style: none;
      li{
        font-size: 1.3em;
        a{
          text-decoration: none;
          color: $primary-color;
        }
        a:hover{
          text-decoration: underline;
        }
      }
    }
    
  }
  .titulo-pruebas{
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .pruebas-rango-uno{
    display: flex;
    align-items: center;
    flex-direction: column;

    section{
      width: 90%;
      background-color: $secundary-color;
      color: $primary-text-color;
      margin: 0.5em 0;
      border-radius: 1em;
      text-align: center;
      padding: 1em 0;
      ol{
        color: $primary-text-color;
        margin: 1em 0;
        padding: 0 0.5em 0 1.4em;
        max-width: 100%;
        li{
          margin: 0.5em 0;
          font-size: 1em;
          text-align: start;
        }
      }
      .aceptar-reto{
        cursor: pointer;
        background-color: $primary-text-color;
        color: $secundary-color;
        border-radius:  1em;
        padding: 0.5em 1em;
        font-size: larger;
        border: 1px solid $primary-text-color;
      }
      .aceptar-reto:hover{
        color: $primary-color;
        background-color: $primary-color;
        
      }
      #dialog{
        margin: 1em auto;
        border-radius: 1em;
        .modal-reto{
          width: 80vw;
          height: 85vh;
          background-color: $primary-color;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.5em;
          padding: 2em 0;
        }
      }
      
    }
    @media (min-width: 1024px) {
      
      margin-top: 2em;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  
      section{
        padding: 1em;
        width: 32vw;
        min-height: 78vh;
        #dialog{
          margin: 12vh auto;
          .modal-reto{
            width: 30vw;
            height: 75vh;
          }
        }
        #dialog::backdrop{
          background-color: #000000;
          opacity: 0.6;
        }
        
      }
    }
    
  }

  .pruebas-rango-dos{
    display: flex;
    align-items: center;
    flex-direction: column;

    section{
      width: 90%;
      background-color: $secundary-color;
      color: $primary-text-color;
      margin: 0.5em 0;
      border-radius: 1em;
      text-align: center;
      padding: 1em 0;
      ol{
        color: $primary-text-color;
        margin: 1em 0;
        padding: 0 0.5em 0 1.4em;
        max-width: 100%;
        li{
          margin: 0.5em 0;
          font-size: 1em;
          text-align: start;
        }
      }
      .aceptar-reto{
        cursor: pointer;
        background-color: $primary-color;
        color: white;
        border-radius:  1em;
        padding: 0.5em 1em;
        font-size: larger;
        border: 1px solid $primary-color;
      }
      .aceptar-reto:hover{
        color: $primary-color;
        background-color: $primary-color;
        
      }
    }
    @media (min-width: 1024px) {
      margin-top: 2em;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      section{
        padding: 1em;
        width: 32vw;
        min-height: 78vh;
      }
    }
  }

  .pruebas-rango-tres{
    display: flex;
    align-items: center;
    flex-direction: column;

    section{
      width: 90%;
      background-color: $secundary-color;
      color: $primary-text-color;
      margin: 0.5em 0;
      border-radius: 1em;
      text-align: center;
      padding: 1em 0;
      ol{
        color: $primary-text-color;
        margin: 1em 0;
        padding: 0 0.5em 0 1.4em;
        max-width: 100%;
        li{
          margin: 0.5em 0;
          font-size: 1em;
          text-align: start;
        }
      }
      .aceptar-reto{
        cursor: pointer;
        background-color: $primary-color;
        color: white;
        border-radius:  1em;
        padding: 0.5em 1em;
        font-size: larger;
        border: 1px solid $primary-color;
      }
      .aceptar-reto:hover{
        color: $primary-color;
        background-color: $primary-color;
        
      }
    }
    @media (min-width: 1024px) {
      margin-top: 2em;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      section{
        padding: 1em;
        width: 32vw;
        min-height: 85vh;
        
      }
      .prueba-nivel-dos{
        position: relative;
        .aceptar-reto{
        position: absolute;
        bottom: 3vh;
        right: calc(100% - 65%);
        }
      }
    }
    
  }